body {
    background: rgb(83,34,195);
background: linear-gradient(0deg, rgba(83,34,195,1) 
    0%, 
    rgba(253,187,45,1) 100%);
background-repeat: no-repeat;
background-size: auto auto;
background-size: cover;
font-family: "Comic Sans MS";

}

h1 {
    text-align: center;
    font-size: 50px;
    color: #ffffff;
}

#virst {
    background-color: #ad8f5f;
    color: #fffbe0;
    border-bottom: #b5302d 3px dotted;
}

#yike {
    text-align: right;
    color: #fffbe0;
}